SFMappingUnitTests/SFMappingUnitTests.xcodeproj/xcuserdata
SFMappingUnitTests/SFMappingUnitTests.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
SFMappingUnitTests/.idea
SFMappingUnitTests/SFMappingUnitTests/build
SFMappingUnitTests/build