.DS_Store
SFMappingUnitTests/SFMappingUnitTests.xcodeproj/xcuserdata
SFMappingUnitTests/SFMappingUnitTests.xcodeproj/project.xcworkspace/xcuserdata
SFMappingUnitTests/.idea
SFMappingUnitTests/build
SFMappingUnitTests/test-reports
Pods
*.xcuserstate
